<!DOCTYPE html>
<html onkeypress="check_keyboard(event)">


<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
</head>

<body>

    <center>
        <div id="app">
            <!-- หน้าป๊อปอัพบังคับกรอกข้อมูล -->
            <div v-if="status_popup" class="popup" onkeypress="check_keyboard(event)">
                <!--text bg-->
                <div class="txt">
                    <h1>
                        <ul>
                            <li>What weight are you on planet ?</li>
                        </ul>

                    </h1>
                </div>
                <!--smoke bg-->
                <div class="smoke"></div>
                <!--mountain bg-->
                <div class="mountain"></div>



                <div class="popup-content">
                    <!--กรอกข้อมูล-->
                    <center>

                        <form>
                            <div class="group">
                                <input type="text" required v-model="name">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Name</label>
                            </div>

                            <div class="group">
                                <input type="number" required v-model="weight" min="0">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Weight</label>
                            </div>

                        </form>
                        <button class="submit" @click="change_status()">SUBMIT</button>

                    </center><div class="lightning"></div>


                    <!-- <h2>Name : <input type="text" v-model="name"></h2>
                    <h2>Weight : <input type="number" v-model="weight" min="0"> kg.</h2> -->

                </div>

            </div>
            <!-- หน้าป๊อปอัพบังคับกรอกข้อมูล -->
            <div class="text">
                <h1>Planet : {{data.bodies[point_data[point]].name}}</h1>
                <!--ชื่อดาว-->
                <h1>Gravity : {{data.bodies[point_data[point]].gravity}} m.s <sup>-2</sup> </h1>
                <!--แรงโน้มถ่วง-->
                <h1>Name : {{name}}</h1>
                <!--ชื่อผู้ใช้-->
                <h1>Weight on Planet : {{calculate_weight(data.bodies[point_data[point]].gravity)}} kg.</h1><br>
                <!--น้ำหนักบนดาวเคราะห์นั้นๆ-->
            </div>

            <button class="again" @click="change_status()">RESTART</button><br>
            <!-- <div class="human" id="human" >PRESS Spacebar</div> -->
            <img src="Artboard 322.png" class="human" id="human">

            <!-- แถวดาวเคราะห์ -->
            <div v-for="i in 8" style="height: 0px; font-family: 'Neucha', cursive; font-size: 24px">
                <div v-if="(i-1) == 1" class="img_planet left_screen" :id="name_id+(i-1)">
                    <img :src="data.bodies[point_data[i-1]].img">
                    <br> {{data.bodies[point_data[i-1]].name}}
                </div>

                <div v-else-if="(i-1) == 2" class="img_planet" :id="name_id+(i-1)">
                    <img :src="data.bodies[point_data[i-1]].img">
                    <br> {{data.bodies[point_data[i-1]].name}}
                </div>
                <div v-else-if="(i-1) == 3" class="img_planet right_screen" :id="name_id+(i-1)">
                    <img :src="data.bodies[point_data[i-1]].img">
                    <br> {{data.bodies[point_data[i-1]].name}}
                </div>
                <div v-else class="invisible" :id="name_id+(i-1)">
                    <img :src="data.bodies[point_data[i-1]].img">
                    <br> {{data.bodies[point_data[i-1]].name}}
                </div>
            </div>
            <!-- แถวดาวเคราะห์ -->





            <!-- ว่าจะทำลูก -->

            <div style="margin-top: 350px; margin-bottom: 100px; font-family: 'Patrick Hand', cursive; font-size: 18px">
                <!-- EARTH -->
                <div v-if="data.bodies[point_data[point]].name == 'Earth'">
                    <img class="img_mini" :src="data.bodies[point_data[point]].moons[0].img">
                    <br> Name: {{data.bodies[point_data[point]].moons[0].name}}
                    <br> Gravity: {{data.bodies[point_data[point]].moons[0].gravity}} m.s <sup>-2</sup>
                    <br> Weight on Planet: {{calculate_weight(data.bodies[point_data[point]].moons[0].gravity)}} kg.
                </div>
                <!-- Mars -->
                <div v-if="data.bodies[point_data[point]].name == 'Mars'">
                    <div v-for="i in 2" style="display: inline-block; margin-right: 30px;">
                        <img class="img_mini" :src="data.bodies[point_data[point]].moons[i-1].img">
                        <br> Name:{{data.bodies[point_data[point]].moons[i-1].name}}
                        <br> Gravity:{{data.bodies[point_data[point]].moons[i-1].gravity}} m.s <sup>-2</sup>
                        <br> Weight on Planet: {{calculate_weight(data.bodies[point_data[point]].moons[i-1].gravity)}} kg.
                    </div>
                </div>
                <!-- Jupiter -->
                <div v-if="data.bodies[point_data[point]].name == 'Jupiter'">
                    <div v-for="i in 14" style="display: inline-block; margin-right: 30px;">
                        <img class="img_mini" :src="data.bodies[point_data[point]].moons[i-1].img">
                        <br> Name:{{data.bodies[point_data[point]].moons[i-1].name}}
                        <br> Gravity:{{data.bodies[point_data[point]].moons[i-1].gravity}} m.s <sup>-2</sup>
                        <br> Weight on Planet: {{calculate_weight(data.bodies[point_data[point]].moons[i-1].gravity)}} kg.
                    </div>
                </div>
                <!-- Neptune -->
                <div v-if="data.bodies[point_data[point]].name == 'Neptune'">
                    <div v-for="i in 3" style="display: inline-block; margin-right: 30px;">
                        <img class="img_mini" :src="data.bodies[point_data[point]].moons[i-1].img">
                        <br> Name:{{data.bodies[point_data[point]].moons[i-1].name}}
                        <br> Gravity:{{data.bodies[point_data[point]].moons[i-1].gravity}} m.s <sup>-2</sup>
                        <br> Weight on Planet: {{calculate_weight(data.bodies[point_data[point]].moons[i-1].gravity)}} kg.
                    </div>
                </div>
            </div>
            <br>




            <!-- แถบปุ่มดาวเคราะห์ -->
            <div v-for="i in 8" @click="point = i-1, status = true, direction()" class="planet">
                <img class="img_mini" :src="data.bodies[point_data[i-1]].img">
                <br> {{data.bodies[point_data[i-1]].name}}
            </div>
            <!-- แถบปุ่มดาวเคราะห์ -->

            <!-- ปุ่มรูปแบบการเรียง -->
            <div>
                <h1 v-if="status_sort" style="font-family: 'Neucha', cursive">Sort By Solar</h1>
                <h1 v-else>Sort By Gravity</h1>
                <button v-if="status_sort" @click="sort_by()">Gravity</button>
                <button v-else @click="sort_by()">Solar</button>
            </div>
            <!-- ปุ่มรูปแบบการเรียง -->

        </div>
    </center>

    <div id='stars'></div>
    <!-- ดาวเล็ก -->
    <div id='stars2'></div>
    <!-- ดาวกลาง-->
    <div id='stars3'></div>
    <!-- ดาวใหญ่-->

    <div class="view view-ninth">
        <img src="earth.jpg" style="width:300px;height:200px;"/>
        <div class="mask mask-1"></div>
        <div class="mask mask-2"></div>
        <div class="content">
            <h2>Earth</h2>
            <p>The planet that we have lived</p>
            
        </div>
    </div>
    <div class="view view-ninth">
        <img src="venus.jpg" style="width:300px;height:200px;"/>
        <div class="mask mask-1"></div>
        <div class="mask mask-2"></div>
        <div class="content">
            <h2>Venus</h2>
            <p>Venus has 90 times the atmospheric pressure of Earth</p>
            
        </div>
    </div>
    <div class="view view-ninth">
        <img src="jupitor.jpg" style="width:300px;height:200px;"/>
        <div class="mask mask-1"></div>
        <div class="mask mask-2"></div>
        <div class="content">
            <h2>Jupitor</h2>
            <p>The Fastest Spinning Planet In The Solar System!!!</p>
            
        </div>
    </div>
    <div class="view view-ninth">
        <img src="saturn.jpg" style="width:300px;height:200px;"/>
        <div class="mask mask-1"></div>
        <div class="mask mask-2"></div>
        <div class="content">
            <h2>Saturn</h2>
            <p>Saturn is the flattest planet.</p>
            
        </div>
    </div>
    <div class="view view-ninth">
        <img src="Mercury.jpg" style="width:300px;height:200px;"/>
        <div class="mask mask-1"></div>
        <div class="mask mask-2"></div>
        <div class="content">
            <h2>Mercury</h2>
            <p>A day on the surface of Mercury lasts 176 Earth days.</p>
            
        </div>
    </div>
    <div class="view view-ninth">
        <img src="mars.jpg" style="width:300px;height:200px;"/>
        <div class="mask mask-1"></div>
        <div class="mask mask-2"></div>
        <div class="content">
            <h2>Mars</h2>
            <p>Its signature color come from Iron oxide. </p>
            
        </div>
    </div>
    <div class="view view-ninth">
        <img src="uranus.jpg" style="width:300px;height:200px;"/>
        <div class="mask mask-1"></div>
        <div class="mask mask-2"></div>
        <div class="content">
            <h2>Uranus</h2>
            <p>Uranus was discovered in 1781 by William Herschel.</p>
            
        </div>
    </div>
    <div class="view view-ninth">
        <img src="neptune.jpg" style="width:300px;height:200px;"/>
        <div class="mask mask-1"></div>
        <div class="mask mask-2"></div>
        <div class="content">
            <h2>Neptune</h2>
            <p>Neptune has the Strongest Winds in the Solar System</p>
            
        </div>
    </div>

</body>

<script>
    let request = new XMLHttpRequest();
    request.onreadystatechange = function () {
        if (request.readyState == 4 && request.status == 200) {
            var myJSON = JSON.parse(request.responseText);
            app.data = myJSON;
        }
    };
    request.open("GET", 'Rocket_Api.json', true);
    request.send();
    // fetch('https://api.le-systeme-solaire.net/rest/bodies/')
    //      .then(response => response.json())
    //      .then(json => {
    //          app.data = json
    //          console.log(json)
    //          console.log("โหลด json เสร็จแล้ว")
    //      })


    let app = new Vue({
        el: '#app',
        data: {
            data: {}, //ข้อมูล JSON
            point_data: [0, 1, 2, 3, 4, 5, 6, 7], //เหมือน solar_data
            solar_data: [0, 1, 2, 3, 4, 5, 6, 7], //ตำแหน่งใน List bodies ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] ชื่อดาวตามตำแหน่งใน solar_data เรียงตามลำดับระบบสุริยะ
            g_data: [0, 3, 1, 6, 2, 5, 7, 4], //ตำแหน่งใน List bodies ["Mercury", "Mars", "Uranus", "Venus", "Earth", "Saturn", "Neptune", "Jupiter"] ชื่อดาวตามตำแหน่งใน g_data เรียงตามค่าแรงโน้มถ่วง
            weight: 0, //น้ำหนักของผู้ใช้
            weight_on_planet: 0, //น้ำหนักบนดาวเคราะห์นั้น
            name: "", //ชื่อผู้ใช้
            point: 2, //ตำแหน่งในlist point_data
            status_popup: true, //สถานะหน้าpopup
            name_id: "img_planet_",
            L_or_R: "", //บอกว่าไปทางซ้ายหรือขวา
            status: false, //สถานะการเลื่อนดาวเคราห์
            status_sort: true, //สถานะรูปแบบการเรียง
            jump_time: 0.53, //เวลาที่ใช้ในการกระโดด
            jump_h: 50 //ความสูงในการกระโดด px
        },

        methods: {
            calculate_weight: function (gravity) { //คำนวณน้ำหนักบนดาวต่างๆ
                this.weight_on_planet = (gravity * this.weight) / 9.8
                return this.weight_on_planet.toFixed(2) //toFixed = ทศนิยม...ตำแหน่ง
            },
            change_status: function () { //เปิดปิดป๊อปอัพ และ รีเซ็ตดาว
                if (this.status_popup) {
                    this.point = 2;
                    this.status = true;
                    this.direction();
                }
                this.status_popup = !this.status_popup;
            },
            sort_by: function () { //เรืยงตามที่ต้องการ
                this.status_sort = !this.status_sort;
                if (this.status_sort) { //เปลี่ยนเป็นระบบสุริยะ
                    this.point_data = this.solar_data;
                    this.point = 2;
                } else { //เปลี่ยนเป็นแรงโน้มถ่วง
                    this.point_data = this.g_data;
                    this.point = 4;
                }
                this.status = true;
                this.direction();
            },
            jump: function () { //กระโดด!!!
                this.jump_time = ((0.53 * 9.8) / this.data.bodies[this.point_data[this.point]].gravity); //เวลาในการกระโดด
                this.jump_h = ((50 * 9.8) / this.data.bodies[this.point_data[this.point]].gravity) / 1.7; //ความสูงที่กระโดดได้

                document.documentElement.style.setProperty("--Jump_height", this.jump_h + "px");
                document.documentElement.style.setProperty("--Jump_time", this.jump_time + "s");

                document.getElementById("human").className = "human jumpping";

                setTimeout(function playing() {

                    document.getElementById("human").style = null; //ล้างประวัติการเล่น animation
                    document.getElementById("human").className = "human";
                    clearTimeout();

                }, this.jump_time * 1000)
            },
            delete_class: function () { //ซ้อนดาวที่ไม่ใช้
                for (var i = 0; i <= 7; i++) {
                    if (i < this.point - 1 || i > this.point + 1) { //ไม่ได้อยู่ในช่วง 3 ดาวที่ต้องแสดงผลใช้ไหม?
                        document.getElementById(this.name_id + i).className = "invisible"; //ซ้อน
                    }
                }
            },
            direction: function () { //ตั้ง class ทิศทางการเคลื่อนที่
                if (this.point > 0 && event.deltaY > 0) { //เช็คว่าซ้ายสุดหรือยัง event.deltaY อ่านค่าจาก scroll mouse โดยที่มากกว่า 0 คือ "ลง"
                    this.L_or_R = "left";
                    this.point -= 1;
                    this.status = true;
                } else if (this.point < 7 && event.deltaY < 0) { //เช็คว่าขวาสุดหรือยัง event.deltaY อ่านค่าจาก scroll mouse โดยที่น้อยกว่า 0 คือ "ขึ้น"
                    this.L_or_R = "right";
                    this.point += 1;
                    this.status = true;
                }
                if (this.status) { //มีการเลื่อนไหม
                    this.status = false;
                    this.delete_class();
                    document.getElementById(this.name_id + this.point).className = " img_planet w3-animate-" + this.L_or_R + " center_planet";
                    if (this.point != 0) { //ตัวซ้ายสุดหรือยัง
                        document.getElementById(this.name_id + (this.point - 1)).className = "img_planet left_screen direction_" + this.L_or_R + "_screen_left";
                    }
                    if (this.point != 7) { //ตัวขวาสุดหรือยัง
                        document.getElementById(this.name_id + (this.point + 1)).className = "img_planet right_screen direction_" + this.L_or_R + "_screen_right";
                    }
                }
            }
        }
    })

    document.querySelector('html').addEventListener("wheel", app.direction); //เช็คว่าเลื่อน scroll mouse ยัง ถ้าเลื่อนเรียกใช้ methods direction

    function check_keyboard(event) { //รับค่าจาก keyboard มาเช็ค
        var button = event.keyCode;
        if (button == 13) { //ปุ่ม Enter เปิดปิด popup
            app.change_status();
        }
        if (button == 32) { //ปุ่ม Spacebar สั่งกระโดด
            app.jump();
        }
    }
</script>

</html>