<!DOCTYPE html>
<html>

<head>
    <title>Add Map</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app" style="background-color: black;">
        <div @mouseover="hover = true" @mouseleave="hover = false">
            <img v-if="!hover" src="Architecture/solve/flower/Anotherredflower/Anotherredflower.png">
            <img v-if="hover" src="test.gif"></div>
        </div>
</body>
<script>
    // var vid = document.getElementById("vid");
    // vid.volume = 0.5;
    // vid.play();
    let app = new Vue({
        el: '#app',
        data: {
            hover: false
        }
    })
</script>

</html>