<!DOCTYPE html>
<html>

<head>
    <title>Add Map</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <video v-if="hover" @mouseleave="hover = false" id="vid" width="1280" height="720" autoplay muted style="margin: 0;">
            <source src="Kimetsu no yaiba movie Official Trailer.mp4" type="video/mp4">
            Kimetsu no yaiba movie Official Trailer.
            <!-- <source src="http://www.it.kmitl.ac.th/~it61070345/Architecture_Gif/Kimetsu%20no%20yaiba%20movie%20Official%20Trailer.mp4" type="video/mp4">
            Kimetsu no yaiba movie Official Trailer. -->
        </video>
        <img v-if="!hover" @mouseover="hover = true" src="/Arc/Architecture/logoweb.png">
    </div>
</body>
<script>
    var vid = document.getElementById("vid");
    vid.volume = 0.5;
    vid.play();
    let app = new Vue({
        el: '#app',
        data: {
            hover:false
        }})
</script>

</html>