<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
	<center>
		<div id="app">
			<!-- หน้าป๊อปอัพบังคับกรอกข้อมูล -->
			<div v-if="status_popup" class="popup">
				<div class="popup-content">
					<b>ชื่อ : <input type="text" v-model="name"></b>
					<b>น้ำหนัก : <input type="number" v-model="weight" min="0"> kg.</b>
					<button @click="change_status()">ตกลง</button>
				</div>
			</div>

			<h1>Planet : {{data.bodies[req_data[point]].englishName}}</h1><!--ชื่อดาว-->

			<h1>Name : {{name}}</h1><!--ชื่อผู้ใช้-->
			<!-- <h1>Gravity : {{data.bodies[req_data[point]].gravity}} m.s <sup>-2</sup> </h1> --><!--แรงโน้มถ่วง-->
			<h1>Weight on Planet : {{calculate_weight(data.bodies[req_data[point]].gravity)}} kg.</h1><br><!--น้ำหนักบนดาวเคราะห์นั้นๆ-->

			<button @click="change_status()">กรอกข้อมูลใหม่</button><br>

			<!-- แถบปุ่มดาวเคราะห์ -->
			<button v-for="i in 8" @click="point = i-1" class="planet">{{data.bodies[req_data[i-1]].englishName}}</button><!--***ใส่รูปแทนชื่อดาวด้วย***-->

		</div>
	</center>


</body>
<script>
	let test_data;
	let request = new XMLHttpRequest();
    request.onreadystatechange = function () {
        if (request.readyState == 4 && request.status == 200) {
            var myJSON = JSON.parse(request.responseText);
            test_data = myJSON;
            console.log(myJSON);
        }
    };
    request.open("GET", 'Rocket_Api.json', true);
    request.send();
	// fetch('https://api.le-systeme-solaire.net/rest/bodies/')
	// 		.then(response => response.json())
	// 		.then(json => {
	// 			app.data = json
	// 			console.log(json)
	// 			console.log("โหลด json เสร็จแล้ว")
	// 		})

	let app = new Vue({
			el: '#app',
			data: {
				data:{},//ข้อมูล JSON
				req_data:[240, 244, 243, 239, 238, 241, 199, 219],//ตำแหน่งใน List bodies ["Moon", Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune", "Pluto"] ชื่อดาวตามตำแหน่งใน req_data
				weight:0,//น้ำหนักของผู้ใช้
				weight_on_planet:0,//น้ำหนักบนดาวเคราะห์นั้น
				name:"",//ชื่อผู้ใช้
				point:2,//ตำแหน่งในlist req_data
				status_popup:true//สถานะหน้าpopup
			},

			methods:{
				calculate_weight:function(gravity){//คำนวณน้ำหนักบนดาวต่างๆ
					this.weight_on_planet = (gravity*this.weight)/9.8
					return this.weight_on_planet.toFixed(2)//toFixed = ทศนิยม...ตำแหน่ง
				},
				change_status:function(){//เปิดปิดป๊อปอัพ
					this.status_popup = !this.status_popup;
				}
			}
		})

		function find() {
			var true_data = [];
			var data_data = [];
			// console.log("{");
			for (var i in app.req_data) {
				console.log("[\"" + app.data.bodies[app.req_data[i]].englishName + "\"");
				console.log(", " + app.data.bodies[app.req_data[i]].gravity);
				console.log(", " + app.data.bodies[app.req_data[i]].density + "], ");
				data_data = [];
				for (var j in app.data.bodies){
					if (app.data.bodies[j].aroundPlanet != null) {
						if (app.data.bodies[app.req_data[i]].id == app.data.bodies[j].aroundPlanet.planet && app.data.bodies[j].gravity != 0) {
							// console.log(app.data.bodies[j].englishName);
							// data_data.push([app.data.bodies[j].englishName, j]);
							// data_data.push([app.data.bodies[j]]);
							// data_data.push(j);
							// console.log("[\"" + app.data.bodies[j].englishName+"\"");
							// console.log(", " + app.data.bodies[j].gravity);
							// console.log(", " + app.data.bodies[j].density + "], ");
						}
					}
				}
				// console.log(data_data);
				// console.log("], ");
				true_data.push(data_data);
			}
			// console.log("}");
			// console.log(true_data);
					
		}
</script>
</html>