/*---------------------------------background-------------------------------------*/

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1783px 1867px #FFF , 888px 1599px #FFF , 1950px 1250px #FFF , 1059px 266px #FFF , 947px 849px #FFF , 1446px 553px #FFF , 1970px 21px #FFF , 226px 520px #FFF , 1541px 90px #FFF , 894px 371px #FFF , 1136px 384px #FFF , 570px 588px #FFF , 1724px 546px #FFF , 694px 522px #FFF , 322px 1401px #FFF , 75px 779px #FFF , 147px 134px #FFF , 1062px 1739px #FFF , 1906px 1471px #FFF , 535px 1254px #FFF , 1915px 229px #FFF , 1445px 606px #FFF , 1286px 974px #FFF , 1249px 1071px #FFF , 93px 272px #FFF , 796px 1499px #FFF , 1602px 907px #FFF , 1966px 844px #FFF , 1880px 953px #FFF , 177px 694px #FFF , 5px 1791px #FFF , 340px 1019px #FFF , 1650px 567px #FFF , 1290px 1897px #FFF , 157px 1845px #FFF , 1721px 186px #FFF , 1673px 747px #FFF , 192px 1251px #FFF , 400px 572px #FFF , 783px 222px #FFF , 1432px 1305px #FFF , 1712px 1585px #FFF , 584px 430px #FFF , 182px 910px #FFF , 880px 1252px #FFF , 302px 1987px #FFF , 834px 1093px #FFF , 1284px 813px #FFF , 619px 1719px #FFF , 305px 168px #FFF , 1355px 1488px #FFF , 674px 1319px #FFF , 1176px 3px #FFF , 754px 508px #FFF , 581px 1418px #FFF , 453px 1141px #FFF , 410px 1795px #FFF , 1601px 462px #FFF , 1344px 1760px #FFF , 195px 1825px #FFF , 1608px 250px #FFF , 1506px 1460px #FFF , 1982px 1870px #FFF , 177px 1567px #FFF , 1061px 469px #FFF , 816px 636px #FFF , 1559px 1891px #FFF , 175px 1644px #FFF , 225px 1141px #FFF , 441px 509px #FFF , 265px 37px #FFF , 822px 1435px #FFF , 708px 896px #FFF , 1358px 541px #FFF , 348px 437px #FFF , 1965px 24px #FFF , 170px 515px #FFF , 1655px 1771px #FFF , 1127px 310px #FFF , 1472px 1751px #FFF , 969px 1046px #FFF , 754px 1907px #FFF , 1200px 1797px #FFF , 986px 1082px #FFF , 440px 1751px #FFF , 412px 1819px #FFF , 1866px 1769px #FFF , 768px 9px #FFF , 246px 1266px #FFF , 1743px 573px #FFF , 1251px 1873px #FFF , 1591px 1892px #FFF , 1395px 1256px #FFF , 228px 877px #FFF , 138px 654px #FFF , 139px 407px #FFF , 1079px 1334px #FFF , 1183px 1036px #FFF , 8px 218px #FFF , 1489px 441px #FFF , 1309px 640px #FFF , 550px 848px #FFF , 1668px 1697px #FFF , 498px 1262px #FFF , 803px 283px #FFF , 976px 1518px #FFF , 1895px 1086px #FFF , 147px 1290px #FFF , 1827px 1663px #FFF , 900px 375px #FFF , 1405px 1096px #FFF , 246px 1482px #FFF , 800px 1110px #FFF , 1057px 1231px #FFF , 541px 1310px #FFF , 1219px 174px #FFF , 1578px 1492px #FFF , 1789px 1293px #FFF , 656px 1427px #FFF , 1248px 694px #FFF , 1404px 65px #FFF , 970px 16px #FFF , 439px 1874px #FFF , 118px 239px #FFF , 804px 1567px #FFF , 1561px 1668px #FFF , 488px 792px #FFF , 1276px 160px #FFF , 1103px 57px #FFF , 1311px 1590px #FFF , 144px 1234px #FFF , 241px 1903px #FFF , 1445px 657px #FFF , 402px 1530px #FFF , 1957px 1448px #FFF , 510px 1955px #FFF , 1673px 422px #FFF , 1265px 409px #FFF , 1031px 1664px #FFF , 1688px 649px #FFF , 1672px 1287px #FFF , 690px 1657px #FFF , 655px 420px #FFF , 417px 1960px #FFF , 833px 1772px #FFF , 1317px 1247px #FFF , 1626px 584px #FFF , 755px 63px #FFF , 1577px 1342px #FFF , 1024px 1897px #FFF , 425px 689px #FFF , 647px 1789px #FFF , 1200px 138px #FFF , 1611px 959px #FFF , 1551px 760px #FFF , 1846px 40px #FFF , 218px 1997px #FFF , 384px 449px #FFF , 863px 751px #FFF , 1638px 226px #FFF , 671px 411px #FFF , 429px 1058px #FFF , 25px 729px #FFF , 1403px 217px #FFF , 1330px 1083px #FFF , 1796px 1001px #FFF , 1745px 633px #FFF , 178px 83px #FFF , 419px 706px #FFF , 1200px 1093px #FFF , 722px 1246px #FFF , 754px 518px #FFF , 1298px 1660px #FFF , 113px 517px #FFF , 1287px 1350px #FFF , 129px 265px #FFF , 28px 1203px #FFF , 637px 1727px #FFF , 938px 1147px #FFF , 1025px 1696px #FFF , 699px 7px #FFF , 290px 1753px #FFF , 846px 463px #FFF , 679px 480px #FFF , 241px 1468px #FFF , 785px 818px #FFF , 1491px 1737px #FFF , 1407px 1277px #FFF , 1263px 1926px #FFF , 1782px 245px #FFF , 895px 1956px #FFF , 734px 467px #FFF , 1307px 1195px #FFF , 472px 1549px #FFF , 173px 1880px #FFF , 323px 357px #FFF , 1687px 1930px #FFF , 1024px 1013px #FFF , 1955px 43px #FFF , 1604px 682px #FFF , 830px 575px #FFF , 615px 1401px #FFF , 1645px 620px #FFF , 420px 1977px #FFF , 1055px 1175px #FFF , 1265px 1271px #FFF , 1922px 1634px #FFF , 207px 198px #FFF , 1071px 160px #FFF , 1357px 457px #FFF , 1677px 1347px #FFF , 454px 500px #FFF , 1762px 92px #FFF , 1067px 307px #FFF , 666px 424px #FFF , 458px 993px #FFF , 175px 799px #FFF , 1903px 909px #FFF , 1388px 168px #FFF , 265px 292px #FFF , 1487px 981px #FFF , 18px 1672px #FFF , 1705px 1515px #FFF , 899px 1195px #FFF , 1432px 1452px #FFF , 933px 1326px #FFF , 1314px 1848px #FFF , 1935px 1124px #FFF , 1104px 1585px #FFF , 1440px 1309px #FFF , 1322px 513px #FFF , 47px 462px #FFF , 144px 1142px #FFF , 1311px 1397px #FFF , 1748px 970px #FFF , 1018px 61px #FFF , 1164px 1978px #FFF , 386px 1288px #FFF , 180px 1113px #FFF , 791px 1524px #FFF , 1836px 417px #FFF , 998px 1501px #FFF , 952px 1035px #FFF , 1674px 1571px #FFF , 1348px 1315px #FFF , 769px 770px #FFF , 456px 1839px #FFF , 231px 785px #FFF , 1729px 1994px #FFF , 809px 772px #FFF , 795px 89px #FFF , 98px 1204px #FFF , 1951px 127px #FFF , 1255px 804px #FFF , 787px 819px #FFF , 198px 406px #FFF , 1300px 132px #FFF , 556px 1239px #FFF , 1765px 611px #FFF , 1340px 887px #FFF , 552px 550px #FFF , 62px 1963px #FFF , 1520px 102px #FFF , 1138px 304px #FFF , 1294px 1894px #FFF , 182px 1118px #FFF , 16px 688px #FFF , 1250px 1191px #FFF , 1178px 169px #FFF , 14px 69px #FFF , 1082px 1254px #FFF , 414px 1326px #FFF , 450px 1280px #FFF , 1011px 443px #FFF , 116px 776px #FFF , 881px 281px #FFF , 1936px 1821px #FFF , 1414px 1748px #FFF , 570px 59px #FFF , 1590px 1229px #FFF , 666px 1844px #FFF , 1734px 612px #FFF , 1876px 612px #FFF , 1778px 927px #FFF , 509px 1891px #FFF , 1629px 185px #FFF , 1829px 1980px #FFF , 1458px 1244px #FFF , 483px 1010px #FFF , 624px 1232px #FFF , 614px 1133px #FFF , 765px 1941px #FFF , 1041px 96px #FFF , 458px 916px #FFF , 1287px 1738px #FFF , 1695px 1487px #FFF , 1527px 971px #FFF , 1456px 530px #FFF , 1577px 1540px #FFF , 1495px 1331px #FFF , 1936px 1122px #FFF , 1735px 1877px #FFF , 842px 1804px #FFF , 1550px 1446px #FFF , 1609px 1607px #FFF , 965px 1190px #FFF , 205px 265px #FFF , 1512px 120px #FFF , 40px 93px #FFF , 1574px 1084px #FFF , 228px 284px #FFF , 377px 1279px #FFF , 1416px 581px #FFF , 1269px 1259px #FFF , 1895px 249px #FFF , 909px 799px #FFF , 887px 1488px #FFF , 152px 1736px #FFF , 1495px 1578px #FFF , 404px 1251px #FFF , 828px 381px #FFF , 1189px 1617px #FFF , 1178px 25px #FFF , 1890px 676px #FFF , 466px 1435px #FFF , 1009px 1226px #FFF , 1408px 1274px #FFF , 1542px 1725px #FFF , 1746px 1692px #FFF , 1233px 948px #FFF , 1965px 1196px #FFF , 1357px 832px #FFF , 99px 395px #FFF , 1116px 1345px #FFF , 72px 457px #FFF , 1230px 780px #FFF , 150px 1444px #FFF , 1954px 758px #FFF , 1159px 1192px #FFF , 1195px 1670px #FFF , 321px 577px #FFF , 1006px 1452px #FFF , 1471px 1949px #FFF , 1467px 1912px #FFF , 1045px 619px #FFF , 827px 268px #FFF , 1972px 1665px #FFF , 781px 280px #FFF , 29px 68px #FFF , 900px 818px #FFF , 1577px 637px #FFF , 915px 1749px #FFF , 1678px 903px #FFF , 102px 1844px #FFF , 1271px 1544px #FFF , 578px 1562px #FFF , 1292px 670px #FFF , 1512px 1543px #FFF , 1096px 1030px #FFF , 1401px 1675px #FFF , 1950px 1540px #FFF , 961px 29px #FFF , 970px 658px #FFF , 1637px 1110px #FFF , 429px 290px #FFF , 267px 568px #FFF , 156px 930px #FFF , 554px 1889px #FFF , 556px 1832px #FFF , 1435px 179px #FFF , 113px 290px #FFF , 1530px 1393px #FFF , 1771px 1360px #FFF , 455px 464px #FFF , 1757px 1081px #FFF , 595px 1968px #FFF , 1219px 682px #FFF , 1695px 1006px #FFF , 1443px 479px #FFF , 1327px 1885px #FFF , 1610px 20px #FFF , 1106px 794px #FFF , 1181px 1630px #FFF , 1917px 1230px #FFF , 937px 798px #FFF , 1864px 1444px #FFF , 1167px 870px #FFF , 760px 859px #FFF , 942px 1516px #FFF , 1636px 1906px #FFF , 1872px 1026px #FFF , 745px 366px #FFF , 324px 1878px #FFF , 2000px 667px #FFF , 33px 1157px #FFF , 1105px 1642px #FFF , 204px 1320px #FFF , 1156px 1995px #FFF , 994px 777px #FFF , 696px 1235px #FFF , 1625px 342px #FFF , 650px 495px #FFF , 382px 1103px #FFF , 1099px 1988px #FFF , 1327px 1879px #FFF , 1150px 631px #FFF , 417px 852px #FFF , 1537px 1562px #FFF , 806px 1666px #FFF , 74px 1196px #FFF , 1296px 1650px #FFF , 1637px 776px #FFF , 1582px 276px #FFF , 722px 1936px #FFF , 919px 1597px #FFF , 1608px 1442px #FFF , 591px 1382px #FFF , 1257px 555px #FFF , 375px 983px #FFF , 13px 734px #FFF , 835px 143px #FFF , 1415px 642px #FFF , 1936px 507px #FFF , 1700px 21px #FFF , 124px 394px #FFF , 672px 1294px #FFF , 1372px 1605px #FFF , 20px 908px #FFF , 587px 395px #FFF , 1079px 629px #FFF , 1963px 436px #FFF , 1185px 883px #FFF , 264px 600px #FFF , 586px 514px #FFF , 476px 307px #FFF , 1383px 1633px #FFF , 316px 1054px #FFF , 1456px 962px #FFF , 504px 1565px #FFF , 1328px 1253px #FFF , 874px 1438px #FFF , 307px 742px #FFF , 94px 984px #FFF , 564px 105px #FFF , 868px 1312px #FFF , 1415px 1068px #FFF , 1977px 237px #FFF , 1918px 1461px #FFF , 1969px 1704px #FFF , 1103px 309px #FFF , 1655px 1744px #FFF , 256px 1978px #FFF , 636px 1264px #FFF , 73px 109px #FFF , 1254px 1579px #FFF , 1472px 657px #FFF , 569px 1942px #FFF , 1274px 1832px #FFF , 1265px 1924px #FFF , 1394px 959px #FFF , 1545px 347px #FFF , 151px 865px #FFF , 77px 227px #FFF , 1138px 1186px #FFF , 952px 566px #FFF , 1884px 85px #FFF , 1511px 110px #FFF , 1236px 1285px #FFF , 1978px 1409px #FFF , 927px 318px #FFF , 1036px 1367px #FFF , 1325px 349px #FFF , 1392px 1817px #FFF , 843px 522px #FFF , 1987px 175px #FFF , 1053px 603px #FFF , 1355px 1048px #FFF , 1285px 660px #FFF , 126px 1155px #FFF , 159px 438px #FFF , 1336px 123px #FFF , 1738px 754px #FFF , 1461px 308px #FFF , 1913px 437px #FFF , 743px 56px #FFF , 438px 755px #FFF , 739px 918px #FFF , 363px 278px #FFF , 425px 862px #FFF , 330px 908px #FFF , 1049px 1993px #FFF , 125px 237px #FFF , 850px 346px #FFF , 815px 1211px #FFF , 1848px 555px #FFF , 1978px 1342px #FFF , 1139px 1350px #FFF , 1968px 1419px #FFF , 1543px 620px #FFF , 963px 667px #FFF , 457px 109px #FFF , 1592px 1447px #FFF , 1081px 1186px #FFF , 687px 842px #FFF , 1887px 86px #FFF , 581px 1550px #FFF , 1268px 969px #FFF , 704px 717px #FFF , 1990px 76px #FFF , 1765px 1415px #FFF , 860px 1760px #FFF , 1636px 1683px #FFF , 565px 1792px #FFF , 1977px 568px #FFF , 1710px 99px #FFF , 743px 1833px #FFF , 1707px 1397px #FFF , 135px 1511px #FFF , 1590px 814px #FFF , 1401px 1631px #FFF , 1115px 71px #FFF , 1050px 146px #FFF , 254px 599px #FFF , 547px 1506px #FFF , 582px 1252px #FFF , 795px 1076px #FFF , 482px 1456px #FFF , 1382px 65px #FFF , 899px 430px #FFF , 953px 213px #FFF , 1994px 1376px #FFF , 1007px 1649px #FFF , 1145px 1961px #FFF , 510px 236px #FFF , 1885px 1681px #FFF , 584px 1107px #FFF , 123px 1373px #FFF , 795px 306px #FFF , 30px 548px #FFF , 588px 228px #FFF , 23px 1769px #FFF , 816px 452px #FFF , 1480px 1796px #FFF , 1558px 1739px #FFF , 1883px 846px #FFF , 590px 1234px #FFF , 1645px 1184px #FFF , 194px 836px #FFF , 1352px 1043px #FFF , 1105px 1419px #FFF , 164px 1777px #FFF , 1522px 303px #FFF , 1750px 595px #FFF , 680px 1794px #FFF , 564px 115px #FFF , 673px 29px #FFF , 479px 6px #FFF , 1744px 257px #FFF , 387px 563px #FFF , 1550px 1578px #FFF , 1660px 960px #FFF , 1924px 1353px #FFF , 804px 29px #FFF , 905px 176px #FFF , 1807px 200px #FFF , 801px 1507px #FFF , 900px 1711px #FFF , 930px 699px #FFF , 1406px 1428px #FFF , 724px 1843px #FFF , 666px 936px #FFF , 1130px 268px #FFF , 1143px 748px #FFF , 1343px 822px #FFF , 1457px 886px #FFF , 1816px 745px #FFF , 1694px 649px #FFF , 117px 218px #FFF , 1549px 1283px #FFF , 1200px 1215px #FFF , 901px 177px #FFF , 1644px 937px #FFF , 1399px 288px #FFF , 1714px 1517px #FFF , 756px 1443px #FFF , 1856px 1787px #FFF , 444px 1491px #FFF , 221px 306px #FFF , 455px 1110px #FFF , 1148px 669px #FFF , 1435px 1614px #FFF , 1003px 797px #FFF , 953px 565px #FFF , 1942px 1754px #FFF , 1803px 1400px #FFF , 940px 1360px #FFF , 219px 295px #FFF , 1023px 1184px #FFF , 1871px 1392px #FFF , 202px 1948px #FFF , 988px 1899px #FFF , 1273px 1526px #FFF , 462px 1610px #FFF , 1975px 1087px #FFF , 945px 1446px #FFF , 635px 1891px #FFF , 1385px 1822px #FFF , 329px 1469px #FFF , 42px 32px #FFF , 687px 1693px #FFF , 839px 960px #FFF , 1717px 720px #FFF , 1715px 1513px #FFF , 988px 914px #FFF , 520px 1280px #FFF , 1421px 940px #FFF , 1492px 234px #FFF , 659px 833px #FFF , 902px 535px #FFF , 204px 1098px #FFF , 1744px 1995px #FFF , 1228px 1320px #FFF , 641px 1702px #FFF , 670px 1110px #FFF , 1781px 1469px #FFF , 1031px 1460px #FFF , 1721px 1681px #FFF , 283px 1384px #FFF , 1050px 82px #FFF , 688px 1400px #FFF , 1810px 194px #FFF , 1305px 614px #FFF , 343px 378px #FFF , 736px 511px #FFF , 1792px 1256px #FFF , 1593px 105px #FFF , 1609px 493px #FFF , 244px 803px #FFF , 102px 1683px #FFF , 1850px 1694px #FFF , 640px 1984px #FFF , 542px 1681px #FFF , 939px 299px #FFF , 1325px 1237px #FFF , 1896px 799px #FFF , 1762px 425px #FFF , 1452px 1154px #FFF , 1041px 396px #FFF , 59px 1748px #FFF , 1042px 1813px #FFF , 839px 1533px #FFF , 393px 1760px #FFF , 981px 800px #FFF , 63px 712px #FFF , 465px 1390px #FFF , 85px 1368px #FFF , 897px 599px #FFF , 37px 1885px #FFF , 1167px 501px #FFF , 1484px 1289px #FFF , 1052px 1553px #FFF , 526px 914px #FFF , 367px 1279px #FFF , 383px 1646px #FFF , 1447px 605px #FFF , 1581px 1121px #FFF , 811px 717px #FFF , 1592px 1474px #FFF , 382px 1181px #FFF , 255px 1601px #FFF , 239px 787px #FFF , 743px 897px #FFF , 446px 377px #FFF , 1607px 1364px #FFF , 451px 547px #FFF , 1292px 3px #FFF , 504px 1692px #FFF , 1869px 97px #FFF , 548px 1539px #FFF , 619px 322px #FFF , 86px 1588px #FFF , 1433px 1070px #FFF , 698px 980px #FFF , 1766px 642px #FFF , 603px 826px #FFF , 427px 152px #FFF , 8px 1846px #FFF , 70px 235px #FFF , 1642px 1663px #FFF , 1530px 1228px #FFF , 350px 111px #FFF , 906px 1032px #FFF , 464px 202px #FFF , 1966px 103px #FFF , 1120px 1244px #FFF , 1809px 14px #FFF , 730px 480px #FFF , 1666px 292px #FFF , 70px 397px #FFF , 50px 1435px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1783px 1867px #FFF , 888px 1599px #FFF , 1950px 1250px #FFF , 1059px 266px #FFF , 947px 849px #FFF , 1446px 553px #FFF , 1970px 21px #FFF , 226px 520px #FFF , 1541px 90px #FFF , 894px 371px #FFF , 1136px 384px #FFF , 570px 588px #FFF , 1724px 546px #FFF , 694px 522px #FFF , 322px 1401px #FFF , 75px 779px #FFF , 147px 134px #FFF , 1062px 1739px #FFF , 1906px 1471px #FFF , 535px 1254px #FFF , 1915px 229px #FFF , 1445px 606px #FFF , 1286px 974px #FFF , 1249px 1071px #FFF , 93px 272px #FFF , 796px 1499px #FFF , 1602px 907px #FFF , 1966px 844px #FFF , 1880px 953px #FFF , 177px 694px #FFF , 5px 1791px #FFF , 340px 1019px #FFF , 1650px 567px #FFF , 1290px 1897px #FFF , 157px 1845px #FFF , 1721px 186px #FFF , 1673px 747px #FFF , 192px 1251px #FFF , 400px 572px #FFF , 783px 222px #FFF , 1432px 1305px #FFF , 1712px 1585px #FFF , 584px 430px #FFF , 182px 910px #FFF , 880px 1252px #FFF , 302px 1987px #FFF , 834px 1093px #FFF , 1284px 813px #FFF , 619px 1719px #FFF , 305px 168px #FFF , 1355px 1488px #FFF , 674px 1319px #FFF , 1176px 3px #FFF , 754px 508px #FFF , 581px 1418px #FFF , 453px 1141px #FFF , 410px 1795px #FFF , 1601px 462px #FFF , 1344px 1760px #FFF , 195px 1825px #FFF , 1608px 250px #FFF , 1506px 1460px #FFF , 1982px 1870px #FFF , 177px 1567px #FFF , 1061px 469px #FFF , 816px 636px #FFF , 1559px 1891px #FFF , 175px 1644px #FFF , 225px 1141px #FFF , 441px 509px #FFF , 265px 37px #FFF , 822px 1435px #FFF , 708px 896px #FFF , 1358px 541px #FFF , 348px 437px #FFF , 1965px 24px #FFF , 170px 515px #FFF , 1655px 1771px #FFF , 1127px 310px #FFF , 1472px 1751px #FFF , 969px 1046px #FFF , 754px 1907px #FFF , 1200px 1797px #FFF , 986px 1082px #FFF , 440px 1751px #FFF , 412px 1819px #FFF , 1866px 1769px #FFF , 768px 9px #FFF , 246px 1266px #FFF , 1743px 573px #FFF , 1251px 1873px #FFF , 1591px 1892px #FFF , 1395px 1256px #FFF , 228px 877px #FFF , 138px 654px #FFF , 139px 407px #FFF , 1079px 1334px #FFF , 1183px 1036px #FFF , 8px 218px #FFF , 1489px 441px #FFF , 1309px 640px #FFF , 550px 848px #FFF , 1668px 1697px #FFF , 498px 1262px #FFF , 803px 283px #FFF , 976px 1518px #FFF , 1895px 1086px #FFF , 147px 1290px #FFF , 1827px 1663px #FFF , 900px 375px #FFF , 1405px 1096px #FFF , 246px 1482px #FFF , 800px 1110px #FFF , 1057px 1231px #FFF , 541px 1310px #FFF , 1219px 174px #FFF , 1578px 1492px #FFF , 1789px 1293px #FFF , 656px 1427px #FFF , 1248px 694px #FFF , 1404px 65px #FFF , 970px 16px #FFF , 439px 1874px #FFF , 118px 239px #FFF , 804px 1567px #FFF , 1561px 1668px #FFF , 488px 792px #FFF , 1276px 160px #FFF , 1103px 57px #FFF , 1311px 1590px #FFF , 144px 1234px #FFF , 241px 1903px #FFF , 1445px 657px #FFF , 402px 1530px #FFF , 1957px 1448px #FFF , 510px 1955px #FFF , 1673px 422px #FFF , 1265px 409px #FFF , 1031px 1664px #FFF , 1688px 649px #FFF , 1672px 1287px #FFF , 690px 1657px #FFF , 655px 420px #FFF , 417px 1960px #FFF , 833px 1772px #FFF , 1317px 1247px #FFF , 1626px 584px #FFF , 755px 63px #FFF , 1577px 1342px #FFF , 1024px 1897px #FFF , 425px 689px #FFF , 647px 1789px #FFF , 1200px 138px #FFF , 1611px 959px #FFF , 1551px 760px #FFF , 1846px 40px #FFF , 218px 1997px #FFF , 384px 449px #FFF , 863px 751px #FFF , 1638px 226px #FFF , 671px 411px #FFF , 429px 1058px #FFF , 25px 729px #FFF , 1403px 217px #FFF , 1330px 1083px #FFF , 1796px 1001px #FFF , 1745px 633px #FFF , 178px 83px #FFF , 419px 706px #FFF , 1200px 1093px #FFF , 722px 1246px #FFF , 754px 518px #FFF , 1298px 1660px #FFF , 113px 517px #FFF , 1287px 1350px #FFF , 129px 265px #FFF , 28px 1203px #FFF , 637px 1727px #FFF , 938px 1147px #FFF , 1025px 1696px #FFF , 699px 7px #FFF , 290px 1753px #FFF , 846px 463px #FFF , 679px 480px #FFF , 241px 1468px #FFF , 785px 818px #FFF , 1491px 1737px #FFF , 1407px 1277px #FFF , 1263px 1926px #FFF , 1782px 245px #FFF , 895px 1956px #FFF , 734px 467px #FFF , 1307px 1195px #FFF , 472px 1549px #FFF , 173px 1880px #FFF , 323px 357px #FFF , 1687px 1930px #FFF , 1024px 1013px #FFF , 1955px 43px #FFF , 1604px 682px #FFF , 830px 575px #FFF , 615px 1401px #FFF , 1645px 620px #FFF , 420px 1977px #FFF , 1055px 1175px #FFF , 1265px 1271px #FFF , 1922px 1634px #FFF , 207px 198px #FFF , 1071px 160px #FFF , 1357px 457px #FFF , 1677px 1347px #FFF , 454px 500px #FFF , 1762px 92px #FFF , 1067px 307px #FFF , 666px 424px #FFF , 458px 993px #FFF , 175px 799px #FFF , 1903px 909px #FFF , 1388px 168px #FFF , 265px 292px #FFF , 1487px 981px #FFF , 18px 1672px #FFF , 1705px 1515px #FFF , 899px 1195px #FFF , 1432px 1452px #FFF , 933px 1326px #FFF , 1314px 1848px #FFF , 1935px 1124px #FFF , 1104px 1585px #FFF , 1440px 1309px #FFF , 1322px 513px #FFF , 47px 462px #FFF , 144px 1142px #FFF , 1311px 1397px #FFF , 1748px 970px #FFF , 1018px 61px #FFF , 1164px 1978px #FFF , 386px 1288px #FFF , 180px 1113px #FFF , 791px 1524px #FFF , 1836px 417px #FFF , 998px 1501px #FFF , 952px 1035px #FFF , 1674px 1571px #FFF , 1348px 1315px #FFF , 769px 770px #FFF , 456px 1839px #FFF , 231px 785px #FFF , 1729px 1994px #FFF , 809px 772px #FFF , 795px 89px #FFF , 98px 1204px #FFF , 1951px 127px #FFF , 1255px 804px #FFF , 787px 819px #FFF , 198px 406px #FFF , 1300px 132px #FFF , 556px 1239px #FFF , 1765px 611px #FFF , 1340px 887px #FFF , 552px 550px #FFF , 62px 1963px #FFF , 1520px 102px #FFF , 1138px 304px #FFF , 1294px 1894px #FFF , 182px 1118px #FFF , 16px 688px #FFF , 1250px 1191px #FFF , 1178px 169px #FFF , 14px 69px #FFF , 1082px 1254px #FFF , 414px 1326px #FFF , 450px 1280px #FFF , 1011px 443px #FFF , 116px 776px #FFF , 881px 281px #FFF , 1936px 1821px #FFF , 1414px 1748px #FFF , 570px 59px #FFF , 1590px 1229px #FFF , 666px 1844px #FFF , 1734px 612px #FFF , 1876px 612px #FFF , 1778px 927px #FFF , 509px 1891px #FFF , 1629px 185px #FFF , 1829px 1980px #FFF , 1458px 1244px #FFF , 483px 1010px #FFF , 624px 1232px #FFF , 614px 1133px #FFF , 765px 1941px #FFF , 1041px 96px #FFF , 458px 916px #FFF , 1287px 1738px #FFF , 1695px 1487px #FFF , 1527px 971px #FFF , 1456px 530px #FFF , 1577px 1540px #FFF , 1495px 1331px #FFF , 1936px 1122px #FFF , 1735px 1877px #FFF , 842px 1804px #FFF , 1550px 1446px #FFF , 1609px 1607px #FFF , 965px 1190px #FFF , 205px 265px #FFF , 1512px 120px #FFF , 40px 93px #FFF , 1574px 1084px #FFF , 228px 284px #FFF , 377px 1279px #FFF , 1416px 581px #FFF , 1269px 1259px #FFF , 1895px 249px #FFF , 909px 799px #FFF , 887px 1488px #FFF , 152px 1736px #FFF , 1495px 1578px #FFF , 404px 1251px #FFF , 828px 381px #FFF , 1189px 1617px #FFF , 1178px 25px #FFF , 1890px 676px #FFF , 466px 1435px #FFF , 1009px 1226px #FFF , 1408px 1274px #FFF , 1542px 1725px #FFF , 1746px 1692px #FFF , 1233px 948px #FFF , 1965px 1196px #FFF , 1357px 832px #FFF , 99px 395px #FFF , 1116px 1345px #FFF , 72px 457px #FFF , 1230px 780px #FFF , 150px 1444px #FFF , 1954px 758px #FFF , 1159px 1192px #FFF , 1195px 1670px #FFF , 321px 577px #FFF , 1006px 1452px #FFF , 1471px 1949px #FFF , 1467px 1912px #FFF , 1045px 619px #FFF , 827px 268px #FFF , 1972px 1665px #FFF , 781px 280px #FFF , 29px 68px #FFF , 900px 818px #FFF , 1577px 637px #FFF , 915px 1749px #FFF , 1678px 903px #FFF , 102px 1844px #FFF , 1271px 1544px #FFF , 578px 1562px #FFF , 1292px 670px #FFF , 1512px 1543px #FFF , 1096px 1030px #FFF , 1401px 1675px #FFF , 1950px 1540px #FFF , 961px 29px #FFF , 970px 658px #FFF , 1637px 1110px #FFF , 429px 290px #FFF , 267px 568px #FFF , 156px 930px #FFF , 554px 1889px #FFF , 556px 1832px #FFF , 1435px 179px #FFF , 113px 290px #FFF , 1530px 1393px #FFF , 1771px 1360px #FFF , 455px 464px #FFF , 1757px 1081px #FFF , 595px 1968px #FFF , 1219px 682px #FFF , 1695px 1006px #FFF , 1443px 479px #FFF , 1327px 1885px #FFF , 1610px 20px #FFF , 1106px 794px #FFF , 1181px 1630px #FFF , 1917px 1230px #FFF , 937px 798px #FFF , 1864px 1444px #FFF , 1167px 870px #FFF , 760px 859px #FFF , 942px 1516px #FFF , 1636px 1906px #FFF , 1872px 1026px #FFF , 745px 366px #FFF , 324px 1878px #FFF , 2000px 667px #FFF , 33px 1157px #FFF , 1105px 1642px #FFF , 204px 1320px #FFF , 1156px 1995px #FFF , 994px 777px #FFF , 696px 1235px #FFF , 1625px 342px #FFF , 650px 495px #FFF , 382px 1103px #FFF , 1099px 1988px #FFF , 1327px 1879px #FFF , 1150px 631px #FFF , 417px 852px #FFF , 1537px 1562px #FFF , 806px 1666px #FFF , 74px 1196px #FFF , 1296px 1650px #FFF , 1637px 776px #FFF , 1582px 276px #FFF , 722px 1936px #FFF , 919px 1597px #FFF , 1608px 1442px #FFF , 591px 1382px #FFF , 1257px 555px #FFF , 375px 983px #FFF , 13px 734px #FFF , 835px 143px #FFF , 1415px 642px #FFF , 1936px 507px #FFF , 1700px 21px #FFF , 124px 394px #FFF , 672px 1294px #FFF , 1372px 1605px #FFF , 20px 908px #FFF , 587px 395px #FFF , 1079px 629px #FFF , 1963px 436px #FFF , 1185px 883px #FFF , 264px 600px #FFF , 586px 514px #FFF , 476px 307px #FFF , 1383px 1633px #FFF , 316px 1054px #FFF , 1456px 962px #FFF , 504px 1565px #FFF , 1328px 1253px #FFF , 874px 1438px #FFF , 307px 742px #FFF , 94px 984px #FFF , 564px 105px #FFF , 868px 1312px #FFF , 1415px 1068px #FFF , 1977px 237px #FFF , 1918px 1461px #FFF , 1969px 1704px #FFF , 1103px 309px #FFF , 1655px 1744px #FFF , 256px 1978px #FFF , 636px 1264px #FFF , 73px 109px #FFF , 1254px 1579px #FFF , 1472px 657px #FFF , 569px 1942px #FFF , 1274px 1832px #FFF , 1265px 1924px #FFF , 1394px 959px #FFF , 1545px 347px #FFF , 151px 865px #FFF , 77px 227px #FFF , 1138px 1186px #FFF , 952px 566px #FFF , 1884px 85px #FFF , 1511px 110px #FFF , 1236px 1285px #FFF , 1978px 1409px #FFF , 927px 318px #FFF , 1036px 1367px #FFF , 1325px 349px #FFF , 1392px 1817px #FFF , 843px 522px #FFF , 1987px 175px #FFF , 1053px 603px #FFF , 1355px 1048px #FFF , 1285px 660px #FFF , 126px 1155px #FFF , 159px 438px #FFF , 1336px 123px #FFF , 1738px 754px #FFF , 1461px 308px #FFF , 1913px 437px #FFF , 743px 56px #FFF , 438px 755px #FFF , 739px 918px #FFF , 363px 278px #FFF , 425px 862px #FFF , 330px 908px #FFF , 1049px 1993px #FFF , 125px 237px #FFF , 850px 346px #FFF , 815px 1211px #FFF , 1848px 555px #FFF , 1978px 1342px #FFF , 1139px 1350px #FFF , 1968px 1419px #FFF , 1543px 620px #FFF , 963px 667px #FFF , 457px 109px #FFF , 1592px 1447px #FFF , 1081px 1186px #FFF , 687px 842px #FFF , 1887px 86px #FFF , 581px 1550px #FFF , 1268px 969px #FFF , 704px 717px #FFF , 1990px 76px #FFF , 1765px 1415px #FFF , 860px 1760px #FFF , 1636px 1683px #FFF , 565px 1792px #FFF , 1977px 568px #FFF , 1710px 99px #FFF , 743px 1833px #FFF , 1707px 1397px #FFF , 135px 1511px #FFF , 1590px 814px #FFF , 1401px 1631px #FFF , 1115px 71px #FFF , 1050px 146px #FFF , 254px 599px #FFF , 547px 1506px #FFF , 582px 1252px #FFF , 795px 1076px #FFF , 482px 1456px #FFF , 1382px 65px #FFF , 899px 430px #FFF , 953px 213px #FFF , 1994px 1376px #FFF , 1007px 1649px #FFF , 1145px 1961px #FFF , 510px 236px #FFF , 1885px 1681px #FFF , 584px 1107px #FFF , 123px 1373px #FFF , 795px 306px #FFF , 30px 548px #FFF , 588px 228px #FFF , 23px 1769px #FFF , 816px 452px #FFF , 1480px 1796px #FFF , 1558px 1739px #FFF , 1883px 846px #FFF , 590px 1234px #FFF , 1645px 1184px #FFF , 194px 836px #FFF , 1352px 1043px #FFF , 1105px 1419px #FFF , 164px 1777px #FFF , 1522px 303px #FFF , 1750px 595px #FFF , 680px 1794px #FFF , 564px 115px #FFF , 673px 29px #FFF , 479px 6px #FFF , 1744px 257px #FFF , 387px 563px #FFF , 1550px 1578px #FFF , 1660px 960px #FFF , 1924px 1353px #FFF , 804px 29px #FFF , 905px 176px #FFF , 1807px 200px #FFF , 801px 1507px #FFF , 900px 1711px #FFF , 930px 699px #FFF , 1406px 1428px #FFF , 724px 1843px #FFF , 666px 936px #FFF , 1130px 268px #FFF , 1143px 748px #FFF , 1343px 822px #FFF , 1457px 886px #FFF , 1816px 745px #FFF , 1694px 649px #FFF , 117px 218px #FFF , 1549px 1283px #FFF , 1200px 1215px #FFF , 901px 177px #FFF , 1644px 937px #FFF , 1399px 288px #FFF , 1714px 1517px #FFF , 756px 1443px #FFF , 1856px 1787px #FFF , 444px 1491px #FFF , 221px 306px #FFF , 455px 1110px #FFF , 1148px 669px #FFF , 1435px 1614px #FFF , 1003px 797px #FFF , 953px 565px #FFF , 1942px 1754px #FFF , 1803px 1400px #FFF , 940px 1360px #FFF , 219px 295px #FFF , 1023px 1184px #FFF , 1871px 1392px #FFF , 202px 1948px #FFF , 988px 1899px #FFF , 1273px 1526px #FFF , 462px 1610px #FFF , 1975px 1087px #FFF , 945px 1446px #FFF , 635px 1891px #FFF , 1385px 1822px #FFF , 329px 1469px #FFF , 42px 32px #FFF , 687px 1693px #FFF , 839px 960px #FFF , 1717px 720px #FFF , 1715px 1513px #FFF , 988px 914px #FFF , 520px 1280px #FFF , 1421px 940px #FFF , 1492px 234px #FFF , 659px 833px #FFF , 902px 535px #FFF , 204px 1098px #FFF , 1744px 1995px #FFF , 1228px 1320px #FFF , 641px 1702px #FFF , 670px 1110px #FFF , 1781px 1469px #FFF , 1031px 1460px #FFF , 1721px 1681px #FFF , 283px 1384px #FFF , 1050px 82px #FFF , 688px 1400px #FFF , 1810px 194px #FFF , 1305px 614px #FFF , 343px 378px #FFF , 736px 511px #FFF , 1792px 1256px #FFF , 1593px 105px #FFF , 1609px 493px #FFF , 244px 803px #FFF , 102px 1683px #FFF , 1850px 1694px #FFF , 640px 1984px #FFF , 542px 1681px #FFF , 939px 299px #FFF , 1325px 1237px #FFF , 1896px 799px #FFF , 1762px 425px #FFF , 1452px 1154px #FFF , 1041px 396px #FFF , 59px 1748px #FFF , 1042px 1813px #FFF , 839px 1533px #FFF , 393px 1760px #FFF , 981px 800px #FFF , 63px 712px #FFF , 465px 1390px #FFF , 85px 1368px #FFF , 897px 599px #FFF , 37px 1885px #FFF , 1167px 501px #FFF , 1484px 1289px #FFF , 1052px 1553px #FFF , 526px 914px #FFF , 367px 1279px #FFF , 383px 1646px #FFF , 1447px 605px #FFF , 1581px 1121px #FFF , 811px 717px #FFF , 1592px 1474px #FFF , 382px 1181px #FFF , 255px 1601px #FFF , 239px 787px #FFF , 743px 897px #FFF , 446px 377px #FFF , 1607px 1364px #FFF , 451px 547px #FFF , 1292px 3px #FFF , 504px 1692px #FFF , 1869px 97px #FFF , 548px 1539px #FFF , 619px 322px #FFF , 86px 1588px #FFF , 1433px 1070px #FFF , 698px 980px #FFF , 1766px 642px #FFF , 603px 826px #FFF , 427px 152px #FFF , 8px 1846px #FFF , 70px 235px #FFF , 1642px 1663px #FFF , 1530px 1228px #FFF , 350px 111px #FFF , 906px 1032px #FFF , 464px 202px #FFF , 1966px 103px #FFF , 1120px 1244px #FFF , 1809px 14px #FFF , 730px 480px #FFF , 1666px 292px #FFF , 70px 397px #FFF , 50px 1435px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 278px 808px #FFF , 167px 651px #FFF , 328px 95px #FFF , 1459px 1898px #FFF , 1677px 1410px #FFF , 1835px 1331px #FFF , 685px 1202px #FFF , 223px 1182px #FFF , 377px 512px #FFF , 1861px 1419px #FFF , 926px 569px #FFF , 1103px 1003px #FFF , 817px 1200px #FFF , 1747px 342px #FFF , 760px 1092px #FFF , 528px 1614px #FFF , 1228px 1375px #FFF , 588px 492px #FFF , 1835px 1027px #FFF , 40px 1773px #FFF , 598px 910px #FFF , 587px 1284px #FFF , 1549px 1491px #FFF , 787px 1813px #FFF , 749px 1579px #FFF , 787px 157px #FFF , 629px 1296px #FFF , 25px 77px #FFF , 1350px 1341px #FFF , 1611px 587px #FFF , 21px 514px #FFF , 666px 386px #FFF , 719px 1305px #FFF , 323px 1973px #FFF , 1529px 183px #FFF , 822px 1727px #FFF , 1542px 781px #FFF , 821px 1277px #FFF , 96px 1237px #FFF , 652px 1039px #FFF , 511px 26px #FFF , 1207px 463px #FFF , 95px 704px #FFF , 1584px 1356px #FFF , 1307px 1926px #FFF , 1960px 1097px #FFF , 1329px 224px #FFF , 1564px 123px #FFF , 1880px 1349px #FFF , 1082px 764px #FFF , 300px 729px #FFF , 299px 1609px #FFF , 1789px 446px #FFF , 1915px 637px #FFF , 604px 1136px #FFF , 1187px 1468px #FFF , 278px 1701px #FFF , 1940px 120px #FFF , 379px 1256px #FFF , 697px 1455px #FFF , 217px 1246px #FFF , 1597px 302px #FFF , 150px 1446px #FFF , 1360px 1891px #FFF , 483px 35px #FFF , 1259px 1220px #FFF , 1407px 1231px #FFF , 1224px 1700px #FFF , 970px 1460px #FFF , 1107px 1013px #FFF , 895px 1411px #FFF , 1304px 1113px #FFF , 676px 717px #FFF , 1897px 591px #FFF , 1611px 176px #FFF , 1227px 222px #FFF , 1823px 977px #FFF , 1210px 1669px #FFF , 1074px 550px #FFF , 858px 739px #FFF , 67px 1716px #FFF , 1931px 1160px #FFF , 1629px 1766px #FFF , 1882px 812px #FFF , 1950px 166px #FFF , 1525px 1555px #FFF , 125px 1654px #FFF , 1020px 455px #FFF , 1133px 245px #FFF , 1554px 199px #FFF , 1596px 948px #FFF , 1277px 1810px #FFF , 1234px 820px #FFF , 1855px 1761px #FFF , 336px 194px #FFF , 1241px 886px #FFF , 1964px 1788px #FFF , 1216px 1087px #FFF , 1522px 394px #FFF , 1846px 450px #FFF , 694px 519px #FFF , 5px 1563px #FFF , 1446px 1402px #FFF , 1462px 1765px #FFF , 1803px 1625px #FFF , 828px 1020px #FFF , 287px 654px #FFF , 355px 1421px #FFF , 328px 623px #FFF , 590px 220px #FFF , 1901px 249px #FFF , 282px 1818px #FFF , 46px 1638px #FFF , 834px 1484px #FFF , 756px 1141px #FFF , 803px 844px #FFF , 11px 1943px #FFF , 1912px 1898px #FFF , 713px 1489px #FFF , 519px 354px #FFF , 10px 1380px #FFF , 1426px 689px #FFF , 996px 115px #FFF , 46px 979px #FFF , 1293px 1005px #FFF , 383px 271px #FFF , 607px 1686px #FFF , 770px 679px #FFF , 250px 1985px #FFF , 1819px 663px #FFF , 242px 141px #FFF , 1989px 529px #FFF , 905px 172px #FFF , 1509px 1229px #FFF , 32px 1631px #FFF , 60px 462px #FFF , 1300px 1622px #FFF , 1657px 1445px #FFF , 1208px 1778px #FFF , 1840px 797px #FFF , 1267px 1414px #FFF , 1359px 606px #FFF , 558px 1216px #FFF , 234px 1393px #FFF , 1157px 1239px #FFF , 1020px 782px #FFF , 1414px 1720px #FFF , 239px 1330px #FFF , 1287px 1900px #FFF , 676px 492px #FFF , 79px 1717px #FFF , 1634px 1946px #FFF , 275px 902px #FFF , 285px 487px #FFF , 900px 364px #FFF , 559px 480px #FFF , 824px 1648px #FFF , 1701px 771px #FFF , 118px 369px #FFF , 362px 1024px #FFF , 524px 1400px #FFF , 854px 933px #FFF , 1273px 1789px #FFF , 106px 1049px #FFF , 1102px 675px #FFF , 876px 169px #FFF , 1417px 1848px #FFF , 967px 1586px #FFF , 961px 709px #FFF , 38px 1984px #FFF , 535px 368px #FFF , 473px 1586px #FFF , 936px 1719px #FFF , 1805px 1078px #FFF , 1342px 1181px #FFF , 18px 472px #FFF , 929px 11px #FFF , 1594px 302px #FFF , 1476px 509px #FFF , 1955px 1531px #FFF , 744px 591px #FFF , 1541px 481px #FFF , 1185px 390px #FFF , 974px 701px #FFF , 1892px 1208px #FFF , 1318px 1305px #FFF , 833px 326px #FFF , 1508px 142px #FFF , 1287px 373px #FFF , 226px 1207px #FFF , 1709px 442px #FFF , 1278px 655px #FFF , 26px 1609px #FFF , 894px 366px #FFF , 974px 1676px #FFF , 1614px 266px #FFF , 1207px 543px #FFF , 1054px 1442px #FFF , 1292px 311px #FFF , 803px 29px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 278px 808px #FFF , 167px 651px #FFF , 328px 95px #FFF , 1459px 1898px #FFF , 1677px 1410px #FFF , 1835px 1331px #FFF , 685px 1202px #FFF , 223px 1182px #FFF , 377px 512px #FFF , 1861px 1419px #FFF , 926px 569px #FFF , 1103px 1003px #FFF , 817px 1200px #FFF , 1747px 342px #FFF , 760px 1092px #FFF , 528px 1614px #FFF , 1228px 1375px #FFF , 588px 492px #FFF , 1835px 1027px #FFF , 40px 1773px #FFF , 598px 910px #FFF , 587px 1284px #FFF , 1549px 1491px #FFF , 787px 1813px #FFF , 749px 1579px #FFF , 787px 157px #FFF , 629px 1296px #FFF , 25px 77px #FFF , 1350px 1341px #FFF , 1611px 587px #FFF , 21px 514px #FFF , 666px 386px #FFF , 719px 1305px #FFF , 323px 1973px #FFF , 1529px 183px #FFF , 822px 1727px #FFF , 1542px 781px #FFF , 821px 1277px #FFF , 96px 1237px #FFF , 652px 1039px #FFF , 511px 26px #FFF , 1207px 463px #FFF , 95px 704px #FFF , 1584px 1356px #FFF , 1307px 1926px #FFF , 1960px 1097px #FFF , 1329px 224px #FFF , 1564px 123px #FFF , 1880px 1349px #FFF , 1082px 764px #FFF , 300px 729px #FFF , 299px 1609px #FFF , 1789px 446px #FFF , 1915px 637px #FFF , 604px 1136px #FFF , 1187px 1468px #FFF , 278px 1701px #FFF , 1940px 120px #FFF , 379px 1256px #FFF , 697px 1455px #FFF , 217px 1246px #FFF , 1597px 302px #FFF , 150px 1446px #FFF , 1360px 1891px #FFF , 483px 35px #FFF , 1259px 1220px #FFF , 1407px 1231px #FFF , 1224px 1700px #FFF , 970px 1460px #FFF , 1107px 1013px #FFF , 895px 1411px #FFF , 1304px 1113px #FFF , 676px 717px #FFF , 1897px 591px #FFF , 1611px 176px #FFF , 1227px 222px #FFF , 1823px 977px #FFF , 1210px 1669px #FFF , 1074px 550px #FFF , 858px 739px #FFF , 67px 1716px #FFF , 1931px 1160px #FFF , 1629px 1766px #FFF , 1882px 812px #FFF , 1950px 166px #FFF , 1525px 1555px #FFF , 125px 1654px #FFF , 1020px 455px #FFF , 1133px 245px #FFF , 1554px 199px #FFF , 1596px 948px #FFF , 1277px 1810px #FFF , 1234px 820px #FFF , 1855px 1761px #FFF , 336px 194px #FFF , 1241px 886px #FFF , 1964px 1788px #FFF , 1216px 1087px #FFF , 1522px 394px #FFF , 1846px 450px #FFF , 694px 519px #FFF , 5px 1563px #FFF , 1446px 1402px #FFF , 1462px 1765px #FFF , 1803px 1625px #FFF , 828px 1020px #FFF , 287px 654px #FFF , 355px 1421px #FFF , 328px 623px #FFF , 590px 220px #FFF , 1901px 249px #FFF , 282px 1818px #FFF , 46px 1638px #FFF , 834px 1484px #FFF , 756px 1141px #FFF , 803px 844px #FFF , 11px 1943px #FFF , 1912px 1898px #FFF , 713px 1489px #FFF , 519px 354px #FFF , 10px 1380px #FFF , 1426px 689px #FFF , 996px 115px #FFF , 46px 979px #FFF , 1293px 1005px #FFF , 383px 271px #FFF , 607px 1686px #FFF , 770px 679px #FFF , 250px 1985px #FFF , 1819px 663px #FFF , 242px 141px #FFF , 1989px 529px #FFF , 905px 172px #FFF , 1509px 1229px #FFF , 32px 1631px #FFF , 60px 462px #FFF , 1300px 1622px #FFF , 1657px 1445px #FFF , 1208px 1778px #FFF , 1840px 797px #FFF , 1267px 1414px #FFF , 1359px 606px #FFF , 558px 1216px #FFF , 234px 1393px #FFF , 1157px 1239px #FFF , 1020px 782px #FFF , 1414px 1720px #FFF , 239px 1330px #FFF , 1287px 1900px #FFF , 676px 492px #FFF , 79px 1717px #FFF , 1634px 1946px #FFF , 275px 902px #FFF , 285px 487px #FFF , 900px 364px #FFF , 559px 480px #FFF , 824px 1648px #FFF , 1701px 771px #FFF , 118px 369px #FFF , 362px 1024px #FFF , 524px 1400px #FFF , 854px 933px #FFF , 1273px 1789px #FFF , 106px 1049px #FFF , 1102px 675px #FFF , 876px 169px #FFF , 1417px 1848px #FFF , 967px 1586px #FFF , 961px 709px #FFF , 38px 1984px #FFF , 535px 368px #FFF , 473px 1586px #FFF , 936px 1719px #FFF , 1805px 1078px #FFF , 1342px 1181px #FFF , 18px 472px #FFF , 929px 11px #FFF , 1594px 302px #FFF , 1476px 509px #FFF , 1955px 1531px #FFF , 744px 591px #FFF , 1541px 481px #FFF , 1185px 390px #FFF , 974px 701px #FFF , 1892px 1208px #FFF , 1318px 1305px #FFF , 833px 326px #FFF , 1508px 142px #FFF , 1287px 373px #FFF , 226px 1207px #FFF , 1709px 442px #FFF , 1278px 655px #FFF , 26px 1609px #FFF , 894px 366px #FFF , 974px 1676px #FFF , 1614px 266px #FFF , 1207px 543px #FFF , 1054px 1442px #FFF , 1292px 311px #FFF , 803px 29px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 332px 109px #FFF , 542px 1457px #FFF , 934px 93px #FFF , 1802px 286px #FFF , 1437px 955px #FFF , 384px 472px #FFF , 964px 1832px #FFF , 1111px 110px #FFF , 1989px 383px #FFF , 181px 1476px #FFF , 371px 1675px #FFF , 1418px 68px #FFF , 1696px 1954px #FFF , 1674px 277px #FFF , 785px 99px #FFF , 142px 1834px #FFF , 50px 1268px #FFF , 603px 476px #FFF , 788px 684px #FFF , 1979px 277px #FFF , 1573px 1469px #FFF , 955px 522px #FFF , 1884px 31px #FFF , 89px 671px #FFF , 1209px 182px #FFF , 1263px 818px #FFF , 1897px 744px #FFF , 1752px 1765px #FFF , 1351px 1380px #FFF , 1612px 1244px #FFF , 1830px 888px #FFF , 1000px 945px #FFF , 577px 1208px #FFF , 579px 239px #FFF , 586px 1858px #FFF , 87px 421px #FFF , 991px 1293px #FFF , 1104px 816px #FFF , 189px 1546px #FFF , 1174px 923px #FFF , 692px 744px #FFF , 824px 789px #FFF , 654px 346px #FFF , 1827px 901px #FFF , 1592px 1747px #FFF , 1545px 1279px #FFF , 1594px 613px #FFF , 165px 1851px #FFF , 931px 130px #FFF , 71px 1287px #FFF , 1481px 1743px #FFF , 808px 112px #FFF , 51px 965px #FFF , 683px 477px #FFF , 182px 752px #FFF , 258px 1673px #FFF , 214px 1160px #FFF , 510px 303px #FFF , 496px 338px #FFF , 1546px 5px #FFF , 1459px 596px #FFF , 957px 668px #FFF , 1386px 1870px #FFF , 415px 1606px #FFF , 423px 858px #FFF , 645px 1750px #FFF , 963px 220px #FFF , 1962px 381px #FFF , 229px 1367px #FFF , 935px 974px #FFF , 1066px 1360px #FFF , 1805px 1420px #FFF , 987px 1072px #FFF , 447px 879px #FFF , 592px 1425px #FFF , 781px 324px #FFF , 1746px 1158px #FFF , 1630px 140px #FFF , 70px 686px #FFF , 1596px 440px #FFF , 1237px 1848px #FFF , 1011px 1757px #FFF , 1478px 57px #FFF , 905px 1409px #FFF , 460px 1935px #FFF , 1936px 146px #FFF , 832px 501px #FFF , 1851px 1167px #FFF , 1434px 319px #FFF , 149px 595px #FFF , 1295px 1966px #FFF , 1784px 1641px #FFF , 1850px 1584px #FFF , 166px 296px #FFF , 152px 1908px #FFF , 1793px 1840px #FFF , 1723px 726px #FFF , 1484px 1188px #FFF , 558px 1221px #FFF , 1160px 1996px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 332px 109px #FFF , 542px 1457px #FFF , 934px 93px #FFF , 1802px 286px #FFF , 1437px 955px #FFF , 384px 472px #FFF , 964px 1832px #FFF , 1111px 110px #FFF , 1989px 383px #FFF , 181px 1476px #FFF , 371px 1675px #FFF , 1418px 68px #FFF , 1696px 1954px #FFF , 1674px 277px #FFF , 785px 99px #FFF , 142px 1834px #FFF , 50px 1268px #FFF , 603px 476px #FFF , 788px 684px #FFF , 1979px 277px #FFF , 1573px 1469px #FFF , 955px 522px #FFF , 1884px 31px #FFF , 89px 671px #FFF , 1209px 182px #FFF , 1263px 818px #FFF , 1897px 744px #FFF , 1752px 1765px #FFF , 1351px 1380px #FFF , 1612px 1244px #FFF , 1830px 888px #FFF , 1000px 945px #FFF , 577px 1208px #FFF , 579px 239px #FFF , 586px 1858px #FFF , 87px 421px #FFF , 991px 1293px #FFF , 1104px 816px #FFF , 189px 1546px #FFF , 1174px 923px #FFF , 692px 744px #FFF , 824px 789px #FFF , 654px 346px #FFF , 1827px 901px #FFF , 1592px 1747px #FFF , 1545px 1279px #FFF , 1594px 613px #FFF , 165px 1851px #FFF , 931px 130px #FFF , 71px 1287px #FFF , 1481px 1743px #FFF , 808px 112px #FFF , 51px 965px #FFF , 683px 477px #FFF , 182px 752px #FFF , 258px 1673px #FFF , 214px 1160px #FFF , 510px 303px #FFF , 496px 338px #FFF , 1546px 5px #FFF , 1459px 596px #FFF , 957px 668px #FFF , 1386px 1870px #FFF , 415px 1606px #FFF , 423px 858px #FFF , 645px 1750px #FFF , 963px 220px #FFF , 1962px 381px #FFF , 229px 1367px #FFF , 935px 974px #FFF , 1066px 1360px #FFF , 1805px 1420px #FFF , 987px 1072px #FFF , 447px 879px #FFF , 592px 1425px #FFF , 781px 324px #FFF , 1746px 1158px #FFF , 1630px 140px #FFF , 70px 686px #FFF , 1596px 440px #FFF , 1237px 1848px #FFF , 1011px 1757px #FFF , 1478px 57px #FFF , 905px 1409px #FFF , 460px 1935px #FFF , 1936px 146px #FFF , 832px 501px #FFF , 1851px 1167px #FFF , 1434px 319px #FFF , 149px 595px #FFF , 1295px 1966px #FFF , 1784px 1641px #FFF , 1850px 1584px #FFF , 166px 296px #FFF , 152px 1908px #FFF , 1793px 1840px #FFF , 1723px 726px #FFF , 1484px 1188px #FFF , 558px 1221px #FFF , 1160px 1996px #FFF;
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
  font-family: "lato", sans-serif;
  color: #FFF;
  background: radial-gradient(ellipse at bottom, #0c1116 0%, #090a0f 100%);
}

#horizon {
  position: absolute;
  width: 160%;
  height: 60%;
  border-radius: 100%/100%;
  background: #038bff;
  -webkit-filter: blur(30px);
  left: 50%;
  bottom: -20%;
  margin-left: -80%;
  z-index: -1;
}
#horizon:before {
  content: " ";
  position: absolute;
  width: 81.25%;
  height: 70%;
  border-radius: 100%/100%;
  background: #51AFFF;
  -webkit-filter: blur(30px);
  opacity: 0.6;
  margin-left: 9.375%;
}
#horizon:after {
  content: " ";
  position: absolute;
  width: 32%;
  height: 20%;
  border-radius: 650px/350px;
  background: #B0DAFF;
  -webkit-filter: blur(30px);
  opacity: 0.5;
  margin-left: 34%;
}
#horizon .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  background: #215496;
  -webkit-filter: blur(200px);
  opacity: 0.7;
  top: -10%;
}

#earth {
  position: absolute;
  width: 200%;
  height: 90%;
  background: black;
  border-radius: 100%/100%;
  left: 50%;
  bottom: -50%;
  margin-left: -100%;
}
#earth:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
}
#earth:after {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
}

#title {
  font-family: 'Poiret One', cursive;
  position: absolute;
  font-weight: 300;
  top: 35%;
  left: 0;
  right: 0;
  margin-top: -80px;
  font-size: 70px;
  text-align: center;
  /*letter-spacing: 20px;*/
  padding-left: 20px;
  background: -webkit-linear-gradient(white, #dbdde0, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-name: animGravity;
  z-index: 0;
}

#subtitle {
  position: absolute;
  font-weight: 300;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
  letter-spacing: 6px;
}
#subtitle span {
  color: #d8d8d8;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
#subtitle span:nth-child(1) {
  animation-name: animDont;
}
#subtitle span:nth-child(2) {
  animation-name: animLet;
}
#subtitle span:nth-child(3) {
  animation-name: animGo;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }
  30%, 80% {
    letter-spacing: 2px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    letter-spacing: 4px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animDont {
  0%    , 15% {
    transform: translateY(-26px);
    opacity: 0;
  }
  35%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animLet {
  0%    , 25% {
    transform: translateY(-26px);
    opacity: 0;
  }
  45%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animGo {
  0%    , 35% {
    transform: translateY(-26px);
    opacity: 0;
  }
  55%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}

/*------------------------------------------------------------------------------------*/


/*------------------------------------------------ form------------------------------------------ */

.popup-content 		{
  font-family:'Kanit', sans-serif;
  width:600px;
  margin:30px auto 0;
  display:block;
  font-size:48px;
  padding:10px 50px 50px;
}
/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:45px;


}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:20px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5265AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
/*------------------------------------------------------------------------------------*/

/*------------------------------------button start------------------------------------------------*/


:root {
  --color-flower: #131625;

  --borderRadius: 36px;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 20px;
}
.button-container {
    display: flex;
    font-family: 'Poiret One', cursive;
    letter-spacing: 20px;
    margin: 60px auto;

    flex-wrap: wrap;
    justify-content: center;
}


.button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: var(--borderRadius);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px var(--color-smoke);

  &:hover {
    transition: all 150ms linear;

    opacity: .85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}
.button.-flower {

  background: var(--color-flower);
}

/*------------------------------------------------------------------------------------*/


button{
  border-radius: 15px;
  font-size: 22px;
}
button:hover{
  background-color: black; /* ทำให้พื้นหลังมืดลง */
  color: white;
}

.planet:hover{
	font-size: 66px;
	transition: 0.25s;
  margin-bottom: 0px;
  margin-top: 30px;
  margin-top: -5px;
}
.rst{
  margin-top: 9%;
  margin-bottom: 25px;
}
.planet{
	display: inline-block; /* ทำให้ปุ่มดาวเคราะห์อยู่แถวเดี่ยวกัน */
	transition: 0.25s;
  margin-top: 30px;
}

.popup {

  display: flex;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  /*background-color: rgba(0,0,0,0); /* ทำให้พื้นหลังมืด */
}

.popup-content {
  /*background-color: #fefefe;*/
  text-align: center;
  margin: auto;


  border-radius: 15px;
}

/*ทำให้ลูกศรขึ้นลงในช่องinputน้ำหนักหายไป*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}