<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Index</title>
    <link rel="icon" href="Architecture/logoweb.png" type="image" sizes="16x16">
</head>

<body>

    <div id="app">

        <!-- หน้าก่อนเข้าหน้า Home -->
        <div v-if="what_page == 'Before_Home'">
            <img src="Architecture/Page_before entering_home page/logo.gif" class="before">
        </div>
        <!-- หน้าก่อนเข้าหน้า Home -->

        <!-- แถบเมนูด้านบน -->
        <nav v-if="what_page != 'Before_Home'" class="navbar navbar-expand container">

            <img src="Architecture/logoweb.png" class="navbar-brand navbar-nav logo_png"
                @click="change_page('Time_To_Bloom')">

            <ul v-if="what_page != 'Time_To_Bloom'" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link button" @click="change_page('Home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button" @click="change_page('Law')">Law</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button" @click="change_page('All cases')">All cases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button" @click="change_page('Contect')">Contect</a>
                </li>
            </ul>
        </nav>
        <!-- แถบเมนูด้านบน -->

        <!-- หน้า Time_To_Bloom -->
        <div v-if="what_page == 'Time_To_Bloom'" class="container">
            <div class="row">
                <div class="cal-6 time_to_bloom_topic">
                    <p class="time_to_bloom_text">Discover all<br>about law<br>for women<br>in Thailand</p>
                    <img class="time_to_bloom" src="Architecture/Time_To_Bloom_page/time_to_bloom.png"
                        @click="change_page('Home')">
                </div>
                <div class="cal-6">
                    <img id="gif_home" src="Architecture/Time_To_Bloom_page/final.gif" class="logo_gif">
                </div>
            </div>
        </div>
        <!-- หน้า Time_To_Bloom -->

        <!-- หน้า Home -->
        <div v-if="what_page == 'Home'" class="container">
            <div class="row">
                <div data-aos-anchor-placement="top-center" data-aos="fade-right" class="col-6">
                    <img :src="info.Home[0].Img" class="home_gif1">
                </div>
                <div data-aos-anchor-placement="top-center" data-aos="fade-left" class="col-6">
                    <p class="topic_text home_topic_text">
                        {{info.Home[0].LawName}}<br>{{info.Home[0].LawName2}}
                    </p>
                    <p class="text">
                        {{info.Home[0].Mean}}
                    </p>
                </div>
            </div>
        </div>

        <div data-aos="fade-down" data-aos-anchor-placement="top-center" v-if="what_page == 'Home'" class="home_gif2">
            <div v-if="what_page == 'Home'" class="container">
                <div data-aos-anchor-placement="top-center" data-aos="fade-up" class="container home_text2">
                    <p class="topic_text home_topic_text2">
                        {{info.Home[1].LawName}}
                    </p>
                    <p class="text home_mean2">
                        {{info.Home[1].Mean}}
                    </p>
                </div>
                <!-- <img :src="info.Home[1].Img"> -->
            </div>
        </div>
        <!-- หน้า Law -->

        <!-- หน้า Law -->
        <div v-if="what_page == 'Law'" class="container">
        </div>
        <!-- หน้า Law -->

        <!-- หน้า All cases -->
        <div v-if="what_page == 'All cases'" class="container">
        </div>
        <!-- หน้า All cases -->

        <!-- หน้า Contect -->
        <div v-if="what_page == 'Contect'" class="container">
        </div>
        <!-- หน้า Contect -->

        <!-- ปุ่มกด Back Next -->
        <div v-if="final_page" class="align-text-bottom">
            <div class="row" style="margin: 0;">
                <div class="col-6">
                    <p class="button back" @click="change_page('Time_To_Bloom')">Back</p>
                </div>
                <div class="col-6">
                    <p class="button next" @click="change_page('Law')">Next</p>
                </div>
            </div>
        </div>
        <!-- ปุ่มกด Back Next -->
    </div>

</body>
<script>
    // fetch('Time_To_Bloom.json')
    //     .then(response => response.json())
    //     .then(json => {
    //         app.info = json
    //         console.log(json)
    //         console.log("โหลด json เสร็จแล้ว")
    //     })

    let request = new XMLHttpRequest();
    request.onreadystatechange = function () {
        if (request.readyState == 4 && request.status == 200) {
            var myJSON = JSON.parse(request.responseText);
            app.info = myJSON;
        }
    };
    request.open("GET", 'Time_To_Bloom.json', true);
    request.send();

    let app = new Vue({
        el: '#app',
        data: {
            info: {},
            what_page: "Before_Home",
            final_page: false,
        },
        methods: {
            change_page: function (page) {
                this.what_page = page;
                document.title = app.what_page;
                if (page == "Home") {
                    this.final_page = true;
                    document.documentElement.style.setProperty("--home_img2", 'url("Architecture/Home_page/giflaw2.gif")');
                }
                else if (page != "Time_To_Bloom") {
                    this.final_page = false;
                }
                else {
                    this.final_page = false;
                    document.title = "Time To Bloom";
                    // document.getElementById("gif_home").src = "Architecture/Time_To_Bloom_page/final.gif";
                }
            }
        }
    })
    setTimeout(function () { app.change_page("Time_To_Bloom"); }, 4000);
</script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000,
    });
</script>

</html>