:root{
    --logo_size:125px;
    --button_size_x:217px;
    --button_size_y:54px;
    --topic_or_button_color:#5382bf;
    --topic_or_button_font:'Prompt', sans-serif;
    --text_font:'Bai Jamjuree', sans-serif;
    --menu_size:12.5pt;
    --topic_size:28pt;
    --text_size:15pt;
    --home_img2:url('');
    --home_text2_posision: 17.5% !important;
    --button_b_n_posision:10%;
}

html, body, #app, .nav{/* สีพื้นหลัง*/
    background-color: #f2f2f2;
}

html{
    scroll-behavior: smooth;
}

/* แทบเมนูด้านบน*/
.button{
    cursor: pointer;
    color: var(--topic_or_button_color);
    font-size: var(--menu_size);
    font-family: var(--topic_or_button_font);
}

.nav-item{
    margin-left: 20px;
}

.logo_png{
    width: var(--logo_size);
    height: var(--logo_size);
    cursor: pointer;
}
/* แทบเมนูด้านบน*/

/*หน้าก่อนเข้า time_to_bloom*/
.before{
    width: 70%; 
    height: 95vh; 
    margin-left: 15%; 
    margin-right: 15%;
}
/*หน้าก่อนเข้า time_to_bloom*/

/* หน้า  time_to_bloom*/
.logo_gif{
    /* content:url(Architecture/home_page/final.gif); */
    transform: scale(2) translateY(6%);
    display: block;
    height: 50vh;
    margin: auto;
    z-index: -1;
}

.time_to_bloom_topic{
    margin-top: 15%;
    margin-right: auto;
}

.time_to_bloom_text{
    font-family: var(--topic_or_button_font);
    margin: 0;
    font-size: 50pt;
    text-align: left;
    line-height: 100%;
    margin-bottom: 10%;
}

.time_to_bloom{/*buuton*/

    background-size: var(--button_size_x) var(--button_size_y);
    background-position: center;

    width: var(--button_size_x);
    height: var(--button_size_y);

    border: 0px;
    border-radius: 10px;

    position:relative; 
    left:15%;
}

.time_to_bloom:active{/*buuton*/
    transform: scale(0.8);
    transition: 0.075s;
}
/* หน้า  time_to_bloom*/

/* หน้า  Home*/
.home_gif1{
    width: 100%;
}
.home_topic_text{
    padding-top: 25%;
}
.home_gif2{
    background-image: var(--home_img2); 
    background-size: 90% 95vh;
    width: 100%; 
    height: 100vh; 
    background-position: center;
    margin-top: 7%;
    background-repeat:no-repeat;
}
.home_text2{
    padding-top: var(--home_text2_posision);
    padding-left: var(--home_text2_posision) !important;
    padding-right: var(--home_text2_posision) !important;
}

.home_topic_text2, .home_mean2{
    text-align: center;
}
/* หน้า  Home*/

.topic_text{
    font-family: var(--topic_or_button_font);
    color: var(--topic_or_button_color);
    font-size: var(--topic_size);
    font-weight: bold;
}

.text{
    font-family: var(--text_font);
    font-size: var(--text_size);
}

/* ปุ่มด้านล่าง*/
.next{
    margin-right:var(--button_b_n_posision);
    margin-left:auto;
    text-align: right;
}
.back{
    margin-right:auto;
    margin-left:var(--button_b_n_posision);
}

.back, .next{
    width: 50px;
    /* opacity:0; */
}

/* ปุ่มด้านล่าง*/